<section class="featured-section">
  <div class="featured-header">
    <img src="./src/assets/icons/dark-paws.png" alt="paws n' play icon" />
    <h2 class="section-title">Shop</h2>
  </div>

  <div class="category-section">
    <div class="category-header">
      <h2 class="category-title">Featured Products</h2>
      <input type="search" class="search-input" placeholder="Search">
    </div>

    <div class="category-content">
      <ul class="products-list">
        <li class="product-item">Random</li>
        <li class="product-item">Cat</li>
        <li class="product-item">Dogs</li>
        <li class="product-item">Fish</li>
        <li class="product-item">Birds</li>
      </ul>
    </div>

    <div class="category-images">
      <div class="product-card">
        <img src="./src/assets/images/product2.png" alt="product image" />
        <div class="product-overlay">
          <div class="product-overlay-header">
            <p class="price">₦15,000.00</p>
            <img src="./src/assets/icons/solar_heart-line-duotone.png" alt="like icon">
          </div>
          <div class="product-overlay-info">
            <h3>Multivitamin For Cat</h3>
            <p>Lorem ipsum dolor sit amet consectetur. Vitae donec pellentesque ut eget tempor egestas diam.</p>
          </div>
          <div class="actions">
            <button class="qty">- 1 +</button>
            <button class="add">Add to card</button>
          </div>
        </div>
      </div>

      <div class="product-card">
        <img src="./src/assets/images/product3.png" alt="product image" />
        <div class="product-overlay">
          <div class="product-overlay-header">
            <p class="price">₦15,000.00</p>
            <img src="./src/assets/icons/solar_heart-line-duotone.png" alt="like icon">
          </div>
          <div class="product-overlay-info">
            <h3>Cat Food</h3>
            <p>Lorem ipsum dolor sit amet consectetur. Vitae donec pellentesque ut eget tempor egestas diam.</p>
          </div>
          <div class="actions">
            <button class="qty">- 1 +</button>
            <button class="add">Add to card</button>
          </div>
        </div>
      </div>

      <div class="product-card">
        <img src="./src/assets/images/product4.png" alt="product image" />
        <div class="product-overlay">
          <div class="product-overlay-header">
            <p class="price">₦15,000.00</p>
            <img src="./src/assets/icons/solar_heart-line-duotone.png" alt="like icon">
          </div>
          <div class="product-overlay-info">
            <h3>Dog Food</h3>
            <p>Lorem ipsum dolor sit amet consectetur. Vitae donec pellentesque ut eget tempor egestas diam.</p>
          </div>
          <div class="actions">
            <button class="qty">- 1 +</button>
            <button class="add">Add to card</button>
          </div>
        </div>
      </div>
    </div>

    <div class="view-section">
      <a href="#" class="view-more">View More >>></a>
    </div>
  </div>
</section>