<section class="services">
  <div class="services-header">
    <img src="./src/assets/icons/dark-paws.png" alt="paws n' play icon" />
    <h2 class="section-title">Services</h2>
  </div>

  <div class="services-grid">
    <div class="service-card">
      <img src="./src/assets/images/image1.png" alt="Grooming">
      <span>Grooming</span>
      <div class="overlay">
        <h3>Grooming</h3>
        <p>Lorem ipsum dolor sit amet consectetur. Vitae donec pellentesque ut eget tempor egestas diam. Donec
          pellentesque ut eget tempor egestas diam. Dolor sit amet consectetur. Vitae donec pellentesque ut eget tempor
          egestas diam. Donec pellentesque ut eget tempor egestas diam.</p>
        <div>
          <button>Learn more</button>
        </div>
      </div>
    </div>
    <div class="service-card">
      <img src="./src/assets/images/image2.png" alt="Boarding">
      <span>Boarding</span>
      <div class="overlay">
        <h3>Boarding</h3>
        <p>Lorem ipsum dolor sit amet consectetur. Vitae donec pellentesque ut eget tempor egestas diam. Donec
          pellentesque ut eget tempor egestas diam. Dolor sit amet consectetur. Vitae donec pellentesque ut eget tempor
          egestas diam. Donec pellentesque ut eget tempor egestas diam.</p>
        <div>
          <button>Learn more</button>
        </div>
      </div>
    </div>
    <div class="service-card">
      <img src="./src/assets/images/image4.png" alt="Veterinary">
      <span>Veterinary</span>
      <div class="overlay">
        <h3>Veterinary</h3>
        <p>Lorem ipsum dolor sit amet consectetur. Vitae donec pellentesque ut eget tempor egestas diam. Donec
          pellentesque ut eget tempor egestas diam. Dolor sit amet consectetur. Vitae donec pellentesque ut eget tempor
          egestas diam. Donec pellentesque ut eget tempor egestas diam.</p>
        <div>
          <button>Learn more</button>
        </div>
      </div>
    </div>
    <div class="service-card">
      <img src="./src/assets/images/image3.png" alt="Training">
      <span>Training</span>
      <div class="overlay">
        <h3>Training</h3>
        <p>Lorem ipsum dolor sit amet consectetur. Vitae donec pellentesque ut eget tempor egestas diam. Donec
          pellentesque ut eget tempor egestas diam. Dolor sit amet consectetur. Vitae donec pellentesque ut eget tempor
          egestas diam. Donec pellentesque ut eget tempor egestas diam.</p>
        <div>
          <button>Learn more</button>
        </div>
      </div>
    </div>
    <div class="service-card large">
      <img src="./src/assets/images/dog1.png" alt="Adoption">
      <span>Adoption</span>
      <div class="overlay overlay-large">
        <h3>Adoption</h3>
        <p>Lorem ipsum dolor sit amet consectetur. Vitae donec pellentesque ut eget tempor egestas diam. Donec
          pellentesque ut eget tempor egestas diam. Dolor sit amet consectetur. Vitae donec pellentesque ut eget tempor
          egestas diam. Donec pellentesque ut eget tempor egestas diam.</p>
        <div>
          <button>Learn more</button>
        </div>
      </div>
    </div>
  </div>
</section>