<section class="banner">
  <nav class="navbar">
    <div class="navbar-content">
      <img src="./src/assets/icons/paws.png" alt="paws n' play icon" />
      <a href="#" class="logo">Paws n' Play</a>
      <ul class="nav-links">
        <li>
          <a href="#">Shop</a>
          <img class="dropdown" src="./src/assets/icons/chevron-down.png" alt="dropdown icon" />
        </li>
        <li>
          <a href="#">Services</a>
          <img class="dropdown" src="./src/assets/icons/chevron-down.png" alt="dropdown icon" />
        </li>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>
    <div>
      <button class="get-started-button">Get Started</button>
    </div>
  </nav>

  <div class="banner-content">
    <h1>Pawsitively Perfect: Where Every Pet's Dream Comes True!</h1>
    <p class="description">
      Welcome to Paws n’ Play, the ultimate destination for pet lovers! Explore a world of tail-wagging joy and furry
      companionship with our wide range of products and services. From pampering essentials to playful toys, we're here
      to make every moment with your pet pawsitively perfect!" </p>
    <button href="#" class="shop-button">
      <span>Shop Now</span>
      <img src="./src/assets/icons/paws.png" alt="paws n' play icon" />
    </button>
  </div>
</section>